*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1em;
    flex-wrap: wrap;
    max-width: 1100px;
}

.post {
    border: 1px solid #ccc;
    width: 32%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.post:hover {
    background-color: #666;
    color: white;
}

.post h2,
.post p {
    padding: 0 .5em;
}

.spinner {
    width: 75px;
    height: 75px;
    border: 15px solid rgba(0, 128, 0, 0.4);
    border-top-color: green;
    border-radius: 50%;
    margin: 50px auto;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width:940px) {
    .post {
        width: 48%;
    }
}

@media (max-width:600px) {
    .post {
        width: 90%;
    }
    .wrapper {
        justify-content: center;
    }
}

.wrapper .post * {
    pointer-events: none;
}

.singlePost {
    text-align: center;
    border: 1px solid #ccc;
    margin: 50px auto;
}

.singlePost p {
    margin: 1rem 0;
}

.show-all {
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: rgba(30, 143, 255, 0.5);
}